/*.bestMatchContainer {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bestMatchContainer h2 {
    margin-bottom: 20px;
}

.bestMatchContainer p {
    margin: 10px 0;
}

.errorMessage {
    color: #d9534f;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.message {
    color: #5bc0de;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}*/